<app-header [count]="count"></app-header>
<div [ngClass]="{'dark':isDark}">
  <button (click)="themChange()" class="btnthem mt-2 mx-3"></button>
<div class="search mb-1 d-flex justify-content-center align-content-center p-3">
  <input type="text"  [(ngModel)]="name"/>
  <button (click)="search()" class="fs-6 fw-bold">Search <i class="bi bi-search"></i></button>
</div>
<div class="container1">
<div class="box1 p-1 bg-body-secondary rounded text-dark">
  <p class="fs-5 fw-bold">Categories</p>
    <button class="btn btn-close-white bi bi-arrow-right text-primary" (click)="all()">All</button>
    <button class="btn btn-close-white bi bi-arrow-right text-primary" (click)="filter($event)">SmartPhones</button>
    <button class="btn btn-close-white bi bi-arrow-right text-primary" (click)="filter($event)">Laptops</button>
    <button class="btn btn-close-white bi bi-arrow-right text-primary" (click)="filter($event)">SkinCare</button>
</div>
<div class="products">
  <div class="product" *ngFor="let p of products">
    <div>
      <img src={{p.thumbnail}} alt={{p.title}}>
    </div>
    <div class="content">
      <p class="fs-5 fw-bold mt-1">{{p.title}}</p>
      <p class="fs-6">Brand: <span class="text-danger">{{p.brand}}</span></p>
      <p>{{p.price | currency:'INR'}}</p>
      <p>Rating : <i class="bi bi-star-fill text-warning"></i> {{p.rating}}/5</p>
      <div class="d-flex">
        <button (click)="addToCart()" class="mx-1 btn btn-warning fs-6"><i class="bi bi-cart-check-fill"></i> Add Cart</button>
        <!-- Button trigger modal -->
        <button type="button" class="mx-1 btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Show Details
        </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Description</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Title : {{p.title}}</p>
                  <p>Price : {{p.price | currency:'INR'}}</p>
                  <p>Stock: {{p.stock}}</p>
                  <p>Category : {{p.category}}</p>
                  <p>Brand : {{p.brand}}</p>
                  <p>Description: {{p.description}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>  
      </div>
    </div>
  </div>
</div>
</div>
</div>